{% extends "base.twig" %}

{% block body %}
    <h1>Список объявлений</h1>

    <ul>
        {% for advert in adverts %}
            <li>{{ advert.getTitle() }} - {{ advert.getCategory }}</li>
        {% endfor %}
    </ul>
{% endblock %}
